<template>
  <div id="autoCompl">
    <input
      v-model="value"
      :class="{'is-valid': valid, 'is-invalid': invalid}"
      @focus="showList = true"
      @blur="blur($event)"
      class="country form-control form-control-lg"
      placeholder="Country"
    >
    <div class="list bg-white">
      <ul v-show="showList"
          class="list-group"
      >
        <transition-group name="fade">
          <li
            v-for="(opt, key) in options"
            @click="selectOption(opt)"
            :key="key"
            class="list-group-item list-group-item-action"
          >
            {{opt.text}}
          </li>
        </transition-group>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'autocomplete',
  props: {
    val: {
      type: String,
      required: true
    },
    validatorProp: {
      type: Object
    },
    v: {
      type: Boolean,
      default: false,
      required: true
    },
    inv: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  data () {
    return {
      value: this.val,
      valid: this.v,
      invalid: this.inv,
      showList: false,
      validator: this.validatorProp,
      options: [
        { text: 'Romanian' },
        { text: 'Russian' },
        { text: 'Rwanda' },
        { text: 'Saint Kitts and Nevis' },
        { text: 'Saint Lucia' }
      ],
      copyOptions: null
    }
  },
  methods: {
    selectOption (opt) {
      this.$set(this, 'value', opt.text)
      // this.value = opt.text
      this.showList = false
    },
    blur (event) {
      if (this.options.length === 1 && this.options[0].text === this.value) {
        this.showList = false
      }
    }
  },
  mounted () {
    this.copyOptions = JSON.parse(JSON.stringify(this.options))
  },
  watch: {
    'value': function () {
      this.options = this.copyOptions
      this.options = this.options.filter(opt => {
        if (opt.text.indexOf(this.value) !== -1 || opt.text.lastIndexOf(this.value) !== -1) {
          return opt
        }
      })
      if (this.value.length === 0) {
        this.showList = true
      }
    }
  }
}
</script>

<style scoped>
  #autoCompl{
    position: relative;
  }
  .list{
    position: absolute;
    width: 100%;
    bottom: 100%;
    z-index: 2;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
