<template>
  <div>
    <div class="titleInputs">
      <h1 class="font-weight-normal mb-3" style="letter-spacing: -2px;">
        <slot name="title"></slot>
      </h1>
      <slot name="sameAs"
            v-bind="{inputs}"
      ></slot>
    </div>
    <div class="form-group recipient mb-3">
      <label for="name" class="h4 font-weight-normal">
        <slot name="topLabel"></slot>
      </label>
      <input v-model="inputs.name"
             :class="{'is-valid': valid(err('name')), 'is-invalid': invalid(err('name'))}"
             class="form-control form-control-lg mb-3"
             id="name" type="text"
             placeholder="Full name"
      >
      <div>
        <slot v-bind:props="{inputs, errors}"></slot>
      </div>
    </div>
    <div class="form-group address mb-4">
      <label for="street" class="h4 font-weight-normal">
        <slot name="bottomLabel"></slot>
      </label>
      <input v-model="inputs.street"
             :class="{'is-valid': valid(err('street')), 'is-invalid': invalid(err('street'))}"
             class="form-control form-control-lg mb-3"
             type="text"
             id="street"
             placeholder="Street Address">
      <input v-model="inputs.apt"
             type="text"
             class="form-control form-control-lg mb-3"
             placeholder="Apt, Suite, Bldg, Gate code. (optional)"
      >
      <div class="input-group mb-4">
        <input v-model="inputs.city"
               :class="{'is-valid': valid(err('city')), 'is-invalid': invalid(err('city'))}"
               class="form-control form-control-lg"
               type="text"
               placeholder="City">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <location-enter :size="50"></location-enter>
          </span>
        </div>
      </div>
      <div class="form-group addressCountry">
        <auto-complete
          :val="inputs.country.text"
          :v="valid(err('country'))"
          :inv="invalid(err('country'))"
        >
        </auto-complete>
        <input v-model="inputs.zip"
               :class="{'is-valid': valid(err('zip')), 'is-invalid': invalid(err('zip'))}"
               class="form-control form-control-lg zip"
               type="number"
               placeholder="ZIP"
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg nextBtn" @click.prevent="checkInputs()">Continue</button>
  </div>
</template>

<script>
// import { ModelSelect } from 'vue-search-select'
import LocationEnter from 'vue-material-design-icons/LocationEnter.vue'
import AutoComplete from './autocomplete'
import selectRules from '@/js/validator'
export default {
  name: 'info',
  components: {
    // ModelSelect,
    LocationEnter,
    AutoComplete
  },
  data () {
    return {
      options: [
        { value: '1', text: 'Romanian' },
        { value: '2', text: 'Russian' },
        { value: '3', text: 'Rwanda' },
        { value: '4', text: 'Saint Kitts and Nevis' },
        { value: '5', text: 'Saint Lucia' }
      ],
      inputs: {
        name: '',
        customField: '',
        street: '',
        apt: '',
        city: '',
        country: {
          value: '',
          text: ''
        },
        zip: ''
      },
      validator: {},
      errors: {}
    }
  },
  computed: {
    err () {
      return prop => {
        if (this.errors[prop]) return this.errors[prop]
        return null
      }
    },
    valid () {
      return errors => {
        if (errors) {
          if (errors.length === 0) return true
          return false
        }
      }
    },
    invalid () {
      return errors => {
        if (errors) {
          if (errors.length > 0) return true
          return false
        }
      }
    }
  },
  methods: {
    checkInputs () {
      this.$root.$emit('next', this.validator)
    }
  },
  mounted () {
    const Validator = selectRules('shipping', { data: this.inputs, errors: this.errors })
    this.validator = new Validator()
  },
  watch: {
    'inputs.name': function () {
      this.validator.checkByProp('name')
    },
    'inputs.street': function () {
      this.validator.checkByProp('street')
    },
    'inputs.city': function () {
      this.validator.checkByProp('city')
    },
    'inputs.zip': function () {
      this.validator.checkByProp('zip')
    },
    'inputs.customField': function () {
      this.validator.checkByProp('customField')
    }
  }
}
</script>

<style scoped>
  .material-design-icon > .material-design-icon__svg{
    height: 20px;
    width: 20px;
  }
  form {
    text-align: left;
    padding: 0 1rem;
  }
  .titleInputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .addressCountry{
    display: flex;
    justify-content: space-between;
  }
  .country{
    flex-basis: 50%;
  }
  .zip{
    flex-basis: 45%;
  }
  .nextBtn{
    width: 50%
  }
</style>
