<template>
  <info>
    <template #title>
      Billing information
    </template>
    <template v-slot:sameAs="{inputs}">
      <a class="text-primary" @click.prevent="copyData(inputs, 'shipping')" href="#">Same as shipping</a>
    </template>
    <template #topLabel>
      Billing Contact
    </template>
    <template #bottomLabel>
      Billing Address
    </template>
    <template v-slot="customInput">
      <div class="email">
        <input v-model="customInput.props.inputs.customField"
               :class="{'is-valid': valid(err('customField', customInput.props.errors)), 'is-invalid': invalid(err('customField', customInput.props.errors))}"
               class="form-control form-control-lg"
               type="email"
               placeholder="Email Address"
        >
      </div>
    </template>
  </info>
</template>

<script>
// import controller from '@/js/navigate'
import info from '@/components/form/inputs/info'
export default {
  components: { info },
  name: 'billing',
  computed: {
    err () {
      return (prop, errors) => {
        if (errors[prop]) return errors[prop]
        return null
      }
    },
    valid () {
      return errors => {
        if (errors) {
          if (errors.length === 0) return true
          return false
        }
      }
    },
    invalid () {
      return errors => {
        if (errors) {
          if (errors.length > 0) return true
          return false
        }
      }
    },
    data () {
      return this.$store.getters['form/data']
    }
  },
  methods: {
    copyData (inputs, type) {
      if (this.data.hasOwnProperty(type)) {
        const copyData = this.data[type]
        for (let key in copyData) {
          inputs[key] = copyData[key]
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
