<template>
  <div class="mb-5">
    <h1>Thank you for your order!</h1>
    <div class="mt-3">
      <p class="text-dark h5">Order number is: {{orderId(9)(1, 9)}}</p>
    </div>
    <div class="mt-2">
      <p class="text-dark">Your will recieve an email confirmation shortly to</p>
    </div>
    <div class="mt-4">
      <p class="text-dark">Estimated delivery day is </p>
      <p class="text-dark h5">{{day}} {{new Date().getDate()}} {{month}} {{new Date().getFullYear()}}</p>
    </div>
    <div class="mt-4">
      <a href="#" class="text-primary">Print Recipe</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'end',
  data () {
    return {
      months: [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ],
      days: ['' +
      'Sunday',
      'Monday',
      'Tuesday',
      'Wednesday',
      'Thursday',
      'Friday',
      'Saturday'
      ]
    }
  },
  computed: {
    month () {
      return this.months[new Date().getMonth()]
    },
    day () {
      return this.days[new Date().getDay()]
    }
  },
  methods: {
    orderId (amount) {
      let result = ''
      return function (min, max) {
        for (let i = 0; i < amount; i++) {
          result += Math.floor(Math.random() * (max - min)) + min
        }
        return result
      }
    }
  }
}
</script>

<style scoped>

</style>
