<template>
  <transition name="slide-fade" mode="out-in">
    <keep-alive>
      <component :is="$store.getters['form/navigate/selected']"></component>
    </keep-alive>
  </transition>
</template>

<script>
import billing from './billing'
import shipping from './shipping'
import payment from './payment'
import end from './end'
export default {
  name: 'index',
  components: {
    /* eslint-disable vue/no-unused-components */
    billing,
    shipping,
    payment,
    end
  },
  mounted () {
  }
}
</script>

<style scoped>
  .slide-fade-enter-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
