<template>
  <div>
    <div class="titleInputs mb-3">
      <h2 class="font-weight-normal mb-3" style="letter-spacing: -2px;">
        Payment
      </h2>
      <div>
        <secure class="text-secondary"></secure>
        <h5 class="font-weight-normal text-secondary ml-3">This is a secure 128-bit SSL encrypted payment</h5>
      </div>
    </div>
    <div class="form-group recipient mb-3">
      <label for="cardName" class="h5 font-weight-normal">
        Cardholder Name
      </label>
      <input
         :class="{'is-valid': valid(err('name')), 'is-invalid': invalid(err('name'))}"
         v-model="card.name"
         class="form-control form-control-lg mb-3"
         id="cardName" type="text"
         placeholder="Name as at appears on your card"
      >
    </div>
    <div class="form-group recipient mb-3">
      <label for="cardNumber" class="h5 font-weight-normal">
        Card Number
      </label>
      <input
         :class="{'is-valid': valid(err('number')), 'is-invalid': invalid(err('number'))}"
         v-model="card.number"
         class="form-control form-control-lg mb-3"
         id="cardNumber" type="text"
         placeholder="XXXX XXXX XXXX XXXX XXXX"
      >
    </div>
    <div class="bottomInputs">
      <div class="form-group recipient mb-3">
        <label for="cardExpire" class="h5 font-weight-normal">
          Expire Date
        </label>
        <input
          :class="{'is-valid': valid(err('expire')), 'is-invalid': invalid(err('expire'))}"
           v-model="card.expire"
           class="form-control form-control-lg mb-3"
           id="cardExpire" type="text"
           placeholder="MM / YY"
        >
      </div>
      <div class="form-group recipient mb-3 ml-5">
        <label for="security" class="h5 font-weight-normal">
          Security Code
        </label>
        <input
           :class="{'is-valid': valid(err('security')), 'is-invalid': invalid(err('security'))}"
           v-model="card.security"
           class="form-control form-control-lg mb-3"
           id="security" type="text"
        >
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg nextBtn" @click.prevent="checkInputs()">Pay Securely</button>
  </div>
</template>

<script>
import secure from 'vue-material-design-icons/Lock.vue'
import selectRules from '@/js/validator'
export default {
  name: 'payment',
  components: {
    secure
  },
  data () {
    return {
      card: {
        name: '',
        number: '',
        expire: '',
        security: ''
      },
      errors: {},
      validator: null
    }
  },
  computed: {
    err () {
      return prop => {
        if (this.errors[prop]) return this.errors[prop]
        return null
      }
    },
    valid () {
      return errors => {
        if (errors) {
          if (errors.length === 0) return true
          return false
        }
      }
    },
    invalid () {
      return errors => {
        if (errors) {
          if (errors.length > 0) return true
          return false
        }
      }
    }
  },
  mounted () {
    const Validator = selectRules('payment', { data: this.card, errors: this.errors })
    this.validator = new Validator()
    console.log(this.errors)
  },
  methods: {
    checkInputs () {
      this.$root.$emit('next', this.validator)
    }
  },
  watch: {
    'card.name': function () {
      this.validator.checkByProp('name')
    },
    'card.number': function () {
      this.validator.checkByProp('number')
    },
    'card.expire': function () {
      this.validator.checkByProp('expire')
    },
    'card.security': function () {
      this.validator.checkByProp('security')
    }
  }
}
</script>

<style scoped>
  .material-design-icon > .material-design-icon__svg{
    height: 30px;
    width: 30px;
  }
  .titleInputs > div{
    display: flex;
  }
  .bottomInputs{
    display: flex;
  }
  .bottomInputs > div {
    flex-basis: 30%;
  }
</style>
