<template>
  <div>
    <info>
      <template #title>
        Shipping Info
      </template>
      <template #topLabel>
        Recipient
      </template>
      <template #bottomLabel>
        Address
      </template>
      <template v-slot="customInput">
        <div class="recipient">
          <input v-model="customInput.props.inputs.customField"
                 :class="{'is-valid': valid(err('customField', customInput.props.errors)), 'is-invalid': invalid(err('customField', customInput.props.errors))}"
                 class="form-control form-control-lg"
                 placeholder="Daytime Phone"
                 type="tel"
          >
          <small class="text-secondary" style="font-size: 16px">For delivery questions only</small>
        </div>
      </template>
    </info>
  </div>
</template>

<script>
// import controller from '@/js/navigate'
import info from '@/components/form/inputs/info'
export default {
  components: { info },
  name: 'shipping',
  computed: {
    err () {
      return (prop, errors) => {
        if (errors[prop]) return errors[prop]
        return null
      }
    },
    valid () {
      return errors => {
        if (errors) {
          if (errors.length === 0) return true
          return false
        }
      }
    },
    invalid () {
      return (errors) => {
        if (errors) {
          if (errors.length > 0) return true
          return false
        }
      }
    }
  },
  methods: {
  },
  mounted () {
    console.log('mounted')
    // this.$on('rem', function (a) {
    //   console.log(a)
    // })
  }
}
</script>

<style scoped>
  .recipient {
    display: flex;
    align-items: center;
  }
  .recipient input{
    flex-basis: 50%;
  }
  .recipient small{
    padding-left: 16px;
    flex-basis: 20%;
  }
</style>
