<template>
  <div class="p-4">
    <div class="title mt-3">
      <h4 class="text-primary">Order Summary</h4>
      <a class="text-secondary" href="#">edit order</a>
    </div>
    <list></list>
    <total :products="$store.getters['products/list']"></total>
  </div>
</template>

<script>
import list from './list.vue'
import total from './total.vue'
export default {
  name: 'index',
  components: {
    list,
    total
  }
}
</script>

<style scoped>
  .title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
</style>
