<template>
  <div class="productsList mt-3">
    <div
      v-for="(item, key) in list"
      :key="key"
      class="mb-3 w-100"
    >
      <div class="productItem mb-3">
        <div>
          <img :src="item.img" class="imgCart border">
          <div class="itemName ml-2">
            <span class="text-secondary h6">{{item.name}}</span>
            <span class="text-dark font-weight-bold">{{item.colors[0]}}</span>
            <span class="text-dark font-weight-bold">Quantity: 1</span>
          </div>
        </div>
        <div class="text-secondary h6">{{item.price}}$</div>
      </div>
      <hr class="m-0 border-top w-100">
    </div>
  </div>
</template>

<script>
export default {
  name: 'list',
  computed: {
    list () {
      return this.$store.getters['products/list']
    }
  }
}
</script>

<style scoped>
  .imgCart{
    width: 100px;
  }
  .productsList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .productItem{
    width: 100%;
    justify-content: space-between;
  }
  .productItem, .productItem > div:nth-child(1){
    display: flex;
    align-items: flex-start;
  }
  .itemName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
