<template>
  <div class="text-left">
    <div>
      <div class="total mb-1 text-secondary h6">
        <span>Subtotal</span>
        <span>${{price}}</span>
      </div>
      <div class="total mb-1 text-secondary h6">
        <span>Shipping</span>
        <span>Free</span>
      </div>
      <div class="total mb-1 text-secondary h6">
        <span>Taxes</span>
        <span>${{taxesPrice}}</span>
      </div>
    </div>
    <hr class="m-0 border-top w-100">
    <div class="mt-3">
      <div class="total font-weight-bold">
        <span>Total</span>
        <span>${{totalPrice}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'total',
  props: {
    products: {
      type: Array,
      require: true
    }
  },
  computed: {
    price () {
      return this.products.reduce((a, b) => a + b.price, 0)
    },
    taxes () {
      // taxes are assumed as a percentage
      return this.$store.getters['products/taxes']
    },
    taxesPrice () {
      return (this.price / 100) * this.taxes
    },
    totalPrice () {
      return this.price + this.taxesPrice
    }
  }
}
</script>

<style scoped>
  .total{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
</style>
