<template>
  <div class="p-4 text-left formActions">
    <form>
      <navigate :items="$store.getters['form/navigate/items']"></navigate>
      <inputs></inputs>
    </form>
  </div>
</template>

<script>
import navigate from './navigate'
import inputs from './parts/index'
import controller from '@/js/navigate'
// import { mapGetters } from 'vuex'
export default {
  name: 'index',
  components: {
    navigate,
    inputs
  },
  methods: {
    next () {
      controller.next()
    },
    back () {
      controller.back()
    }
  },
  mounted () {
    this.$root.$on('next', validator => {
      if (!validator.hasErrors()) {
        controller.updateFilled(true).writeData(validator.data).next()
      }
    })
  }
}
</script>

<style scoped>
  .nextBtn{
    width: 50%;
  }
  form {
    min-height: 600px;
    max-height: 750px;
  }
</style>
