<template>
  <div class="mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
        <li
          v-for="(item, i, key) in this.items"
          :key="key"
          class="breadcrumb-item"
          :class="{ 'active': applyStyle(item) }"
        >
          <span v-if="item.to !== 'end'">
            <a
              v-if="applyStyle(item)"
              :class="{'text-secondary': item.filled}"
              @click.prevent="goTo(item.to, item.filled)"
              class="text-primary"
              href="#"
            >{{item.title}}</a>
            <span v-else class="text-secondary">{{item.title}}</span>
          </span>
        </li>
      </ol>
    </nav>
  </div>
</template>

<script>
import controller from '@/js/navigate'
export default {
  props: {
    items: {
      type: Array,
      require: true
    },
    selected: {
      type: String,
      default: 'shipping',
      require: true
    }
  },
  name: 'navigate',
  computed: {
    selectedInputs () {
      return this.$store.getters['form/navigate/selected']
    },
    applyStyle () {
      return (item) => {
        if (item.filled) return true
        if (item.to === this.selectedInputs) return true
        return false
      }
    }
  },
  methods: {
    goTo (value, filled) {
      if (value && filled) controller.goTo(value)
    }
  },
  mounted () {
  }
}
</script>

<style scoped>

</style>
