<template>
  <div>
    <nav-bar></nav-bar>
    <hr class="bg-pink mt-0">
    <div class="content container pl-0 pr-0">
      <div class="formSection">
        <data-form class="bg-light"></data-form>
        <order></order>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from '@/components/navbar.vue'
import DataForm from '@/components/form/'
import Order from '@/components/products'

export default {
  name: 'home',
  components: {
    NavBar,
    DataForm,
    Order
  },
  data () {
    return {
      items: [
        {
          text: 'Admin',
          to: { name: 'home' }
        },
        {
          text: 'Manage',
          to: { name: 'home' }
        },
        {
          text: 'Library',
          to: { name: 'home' }
        }
      ]
    }
  }
}
</script>
<style>
  .formSection{
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
  }
  .formSection > div:first-child{
    flex-basis: 60%;
  }
  .formSection > div:last-child{
    background-color: #f2f4f7;
    flex-basis: 40%;
  }
</style>
