<template>
  <div class="navBar bg-white pb-0">
    <div class="container">
      <div id="header">
        <div>
          <xml-icon class="text-pink" :size="25"></xml-icon>
          <h4 class="font-weight-lighter ml-3 text-primary">Front-end Developer Test Task</h4>
        </div>
        <div>
          <h4 class="text-pink">cart</h4>
          <cart class="text-pink cart" :size="25"></cart>
          <span class="circleCart bg-pink text-white">{{$store.getters['products/list'].length}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import xmlIcon from 'vue-material-design-icons/Xml.vue'
import cart from 'vue-material-design-icons/Cart.vue'
export default {
  name: 'navbar',
  components: {
    xmlIcon,
    cart
  }
}
</script>

<style scoped>
  #header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  }
  #header > div{
    display: inherit;
    position: relative;
    align-items: center;
  }
  #header .material-design-icon > .material-design-icon__svg{
    height: 25px;
    width: 25px;
    margin-right: 8px;
    z-index: 2;
  }
  .cart{
    margin-right: 8px;
  }
  .circleCart{
    top: -6px;
    left: 100%;
    position: absolute;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: small;
  }
</style>
