<template>
  <div id="app" class="text-primary">
    <div class="container-fluid">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
html, body {
  height: 100%;
}
#app {
  text-align: center;
  background-color: #e9ecef;
  height: inherit;
}
#app .container-fluid, .navBar .container{
  padding-right: 0;
  padding-left: 0;
}
$theme-colors: (
  "primary": #5a1094,
  "pink": #c90ea5
);
@import "bootstrap";
</style>
